@page "/games/delete"
@using Microsoft.EntityFrameworkCore
@using BlazorWebAppGames.Models
@inject IDbContextFactory<BlazorWebAppGames.Data.BlazorWebAppGamesContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Game</h2>
    <hr />
    @if (game is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Title</dt>
            <dd class="col-sm-10">@game.Title</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Release Date</dt>
            <dd class="col-sm-10">@game.ReleaseDate</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Genre</dt>
            <dd class="col-sm-10">@game.Genre</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Price</dt>
            <dd class="col-sm-10">@game.Price</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Score</dt>
            <dt class="col-sm-10">@game.Score</dt>
        </dl>
        <EditForm method="post" Model="game" OnValidSubmit="DeleteGame" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(game is null)">Delete</button> |
            <a href="/games">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Game? game;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        game = await context.Game.FirstOrDefaultAsync(m => m.Id == Id);

        if (game is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteGame()
    {
        using var context = DbFactory.CreateDbContext();
        context.Game.Remove(game!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/games");
    }
}
